name: build
on: [push, pull_request]
jobs:
    linux:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v3
        - run: sudo apt-get update
        - run: sudo apt -y install gcc-arm-none-eabi make
        - run: make
